# Python-related
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.ipynb_checkpoints/

# IDE-specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Unix Runtime files
nohup.out